{erl_opts, [debug_info]}.
{deps, [
        {cowboy,
         {git, "https://github.com/ninenines/cowboy.git",
          {ref, "edea415da87d7f6fe9f4fcd4306ce3e7e38727ed"}}},
        {jsone,
         {git, "https://github.com/sile/jsone.git",
          {ref, "2ebbe2361d19af3cc4c94b7345972710aec4fbda"}}},
        {gun,
         {git, "https://github.com/ninenines/gun.git",
          {ref, "74ac4d209c86f64059b1eaa0e541eb7d26dd23a8"}}}
       ]}.

{relx, [{release, {auth_server, "0.1.0"},
         [auth_server,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, false}]}]
            }]
}.

{plugins,
 [
  {rebar3_docsh, "0.7.2", {pkg, docsh}}
 ]}.

{shell, [{script_file, "_build/default/plugins/rebar3_docsh/priv/docsh_rebar3_shell.escript"}]}.
