[
 {kernel,
  [{logger_level, all},
   {logger,
    [{handler, default, logger_std_h,
      #{ level => info }}
    ]}]},

  {auth_server,
   [
    {runtime_args, #{
                     session_s => 3600,
                     priv_key_file => "/home/liam/.ssh/id_rsa.work",
                     listen_port => 8888,
                     db_api_port => 5000,
                     db_api_host => "127.0.0.1"
                    }}
   ]}

].
